<%= simple_form_for @group do |f| %>

	<div class="small-12 medium-12 large-4 columns">
<%= f.input :title %>
	</div>
	<div class="small-12 medium-6 large-4 columns">
<%= f.input :min_age %>
	</div>
	<div class="small-12 medium-6 large-4 columns">
<%= f.input :max_age %>
	</div>

	<div class="small-12 medium-6 large-4 columns">
<%= f.input :city, collection:[["Salt Lake"]] %>
	</div>


	<div class="small-12 medium-6 large-4 columns">
<%= f.input :course %>
	</div>


	<div class="small-12 medium-6 large-4 columns">
<%= f.input :county %>
	</div>


	<div class="small-12 medium-6 large-4 columns">
<%= f.input :day %>
	</div>


	<div class="small-12 medium-6 large-4 columns">
<%= f.input :group_size %>
	</div>


	<div class="small-12 medium-6 large-4 columns">
<%= f.input :min_handicap %>
	</div>

	<div class="small-12 medium-6 large-4 columns">
<%= f.input :max_handicap %>
	</div>


	<div class="small-12 medium-6 large-4 columns">
<%= f.input :time_frame %>
	</div>

	<div class="small-12 medium-6 large-4 columns">
<%= f.input :email %>
	</div>

<div class="row">
	<div class="small-12 columns text-center">
<%= f.button :submit, class:"button" %>
	</div>
</div>
<% end %>
