<%= simple_form_for @group do |f| %>

	<div class="small-12 medium-12 large-4 columns">
<%= f.input :title %>
	</div>


	<div class="small-12 medium-6 large-4 columns">
<%= f.label :avg_age, "Average age:" %>
<%= f.input :avg_age, label: false %>
	</div>


	<div class="small-12 medium-6 large-4 columns">
<%= f.input :city %>
	</div>


	<div class="small-12 medium-6 large-4 columns">
<%= f.input :course %>
	</div>


	<div class="small-12 medium-6 large-4 columns">
<%= f.label :county %>
<%= f.select :county, ["Salt Lake", "Utah"] %>
	</div>


	<div class="small-12 medium-6 large-4 columns">
<%= f.label :day %>
<%= f.select :day, ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %>
	</div>


	<div class="small-12 medium-6 large-4 columns">
<%= f.label :group_size %>
<%= f.select :group_size, [1,2,3,4] %>
	</div>


	<div class="small-12 medium-6 large-4 columns">
<%= f.label :avg_handicap, "Average handicap" %>
<%= f.select :avg_handicap, ["-10", "-5", "0", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50"] %>
	</div>


	<div class="small-12 medium-6 large-4 columns">
<%= f.label :time_frame %>
<%= f.select :time_frame, ["Morning", "Mid-day", "Afternoon"] %>
	</div>

	<div class="small-12 medium-6 large-4 columns">
<%= f.input :email %>
	</div>

<div class="row">
	<div class="small-12 columns text-center">
<%= f.button :submit, class:"button" %>
	</div>
</div>
<% end %>
