<div class="row">
  <div class="large-12 columns">
    <h1>Advanced Search</h1>
    <h4>Find the exact cronies your looking for</h4>
  </div>
    
  <%= search_form_for @search, url: search_path do |f| %>
  <div class="large-12 columns">
    <div class="panel">
      <div class="row">
        <div class="large-4 columns">
          <%= f.label :title_cont, "Title" %>
          <%= f.text_field :title_cont %>
        </div>
        <div class="large-4 columns">
          <%= f.label :county_cont, "County" %>
          <%= f.select :county_cont, ["Salt Lake", "Utah"] %>
        </div>
        <div class="large-4 columns">
          <%= f.label :city_cont, "City" %>
          <%= f.text_field :city_cont %>
        </div>
        <div class="large-4 columns">
          <%= f.label :day_cont, "Day" %>
          <%= f.select :day_cont, ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %>
        </div>
        <div class="large-4 columns">
          <%= f.label :time_frame_cont, "Time Frame" %>
          <%= f.select :time_frame_cont, ["Morning", "Mid-day", "Afternoon"] %>
        </div>
        <div class="large-4 columns">
          <%= f.label :group_size_eq, "Group Size" %>
          <%= f.select :group_size_eq, [2,3,4] %>

        </div>
        <div class="large-4 columns">
          <label for="age-amount">Age:</label>
          <input type="text" id="age-amount" style="border:0; color:#f6931f; font-weight:bold;">
          <div id="slider-range-age"></div>
        </div>
          <div class="slider-hide min-max-age">
            <%= f.label :avg_age_gteq, "Age (min)" %>
            <%= f.text_field :avg_age_gteq %>
            <%= f.label :avg_age_lteq, "Age (max)" %>
            <%= f.text_field :avg_age_lteq %>
          </div>
        <div class="large-4 columns">
          <label for="handi-amount">Handicap:</label>
          <input type="text" id="handi-amount" style="border:0; color:#f6931f; font-weight:bold;">
          <div id="slider-range-handicap"></div>
        </div>
          <div class="slider-hide min-max-handi">
            <%= f.label :avg_handicap_gteq, "Handicap (min)" %>
            <%= f.text_field :avg_handicap_gteq %>
            <%= f.label :avg_handicap_lteq, "Handicap (max)" %>
            <%= f.text_field :avg_handicap_lteq %>
          </div>
        <div class="large-4 columns">
          <%= f.submit "search", class: "button tiny expand right adv-search-btn" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<!-- ransack, will_paginate gem, autocomplete -->


<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <% @groups.each do |group| %>


      <div class="large-4 medium-4 columns left">
        <div class="panel group-contain">

          <h4><%= link_to "#{group.title}", group_path(group) %></h4>
          <p><%= group.city %>  |  <%= group.day %><br />
          Course: <%= group.course %></p>

          <div class="group-sublist">
          <div class="row">
            <div class="large-4 columns">
              <p>Age<br /><%= group.avg_age %></p>
            </div>
            <div class="large-4 columns">
              <p>Handicap<br /><%= group.avg_handicap %></p>
            </div>
            <div class="large-4 columns">
              <p>Size<br /><%= group.group_size %></p>
            </div>
          </div>

          </div>
          <p><%= link_to "Join this Group", sendemail_group_path(group), class:"button" %></p>
        </div>
      </div>


      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <hr />
  <div class="large-12 columns">

    <div class="text-center">
     <%= paginate @groups %>
   </div>

    <h4>Can't find what you're looking for?</h4>
  </div>
  <div class="large-4 large-offset-4 left columns">
    <%= link_to "Create a Group", new_group_path, class:"button expand" %>
  </div>
</div>