<div class="row">
  <div class="large-12 columns">
    <h1>Groups</h1>
    <h4>Sub heading about what this page does.</h4>
  </div>
  <%= form_tag groups_path, :method => 'get' do %>
  <div class="large-6 columns">
    <label for="search">Quick Title Search:
    <%= text_field_tag :search, params[:search] %>
    </label>
  </div>
  <div class="large-2 columns left">
    <%= submit_tag "Search", :name => nil, class:"button expand" %>
  </div>
  <% end %>
</div>


<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <% @groups.each do |group| %>


      <div class="large-4 medium-4 columns left">
        <div class="panel">
          <h4><%= link_to "Title: #{group.title}", group_path(group) %></h4>
          <p>City: <%= group.city %></p>
          <p>Day: <%= group.day %></p>
          <p>County: <%= group.county %></p>
          <p>Course: <%= group.course %></p>
          <p>Age: <%= group.age %></p>
          <p>Handicap: <%= group.handicap %></p>
          <p>Players: <%= group.group_size %></p>
          <p><%= link_to "Join this Group", sendemail_group_group_path(group), class:"button" %></p>
        </div>
      </div>


      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h4>Can't find what you're looking for?</h4>
  </div>
  <div class="large-4 large-offset-4 left columns">
    <%= link_to "Create a Group", new_group_path, class:"button expand" %>
  </div>
</div>