<div class="row">
  <div class="large-12 columns">

    <h1>User Account Page</h1>

    <h4>Functionality:</h4>
    <div class="row">
      <div class="large-4 medium-4 columns">
        <div class="panel">
          <p>Profile Shit</p>
        </div>
      </div>
      <div class="large-4 medium-4 columns">
       <div class="panel">
          <%= link_to "Edit Account", edit_user_registration_path %>
        </div>
      </div>
    </div>

  </div>
</div>
 
<div class="row">
  <div class="large-5 columns">
    <div class="row">
      <h3><div class="text-center">Groups I belong to</div></h3>
      <% @group.each do |group| %>
    </div>
    <div class="row">
        <div class="panel group-contain">
          <h4><%= link_to "#{group.title}", group_path(group) %></h4>
          <p><%= group.city %>  |  <%= group.day %><br />
          Course: <%= group.course %></p>

          <div class="group-sublist">
          <div class="row">
            <div class="large-4 columns">
              <p>Age<br /><%= group.avg_age %></p>
            </div>
            <div class="large-4 columns">
              <p>Handicap<br /><%= group.avg_handicap %></p>
            </div>
            <div class="large-4 columns">
              <p>Size<br /><%= group.group_size %></p>
            </div>
          </div>

          </div>
          <p><%= link_to "Leave this group", leave_group_path(group.users.find(current_user.id).friendships.first.id), method: :delete, class:"button" %></p>
        </div>
    </div>  
      <% end %>
  </div>



  <div class="large-5 columns">
    <div class="row">
        <h3><div class="text-center">Groups I created</div></h3>
        <% @created.each do |group| %>
      </div>
      <div class="row">    
        <div class="panel group-contain">

          <h4><%= link_to "#{group.title}", group_path(group) %></h4>
          <p><%= group.city %>  |  <%= group.day %><br />
          Course: <%= group.course %></p>

          <div class="group-sublist">
          <div class="row">
            <div class="large-4 columns">
              <p>Age<br /><%= group.avg_age %></p>
            </div>
            <div class="large-4 columns">
              <p>Handicap<br /><%= group.avg_handicap %></p>
            </div>
            <div class="large-4 columns">
              <p>Size<br /><%= group.group_size %></p>
            </div>
          </div>

          </div>
          <p><%= link_to "Edit this Group", edit_group_path(group), class:"button" %></p>
        </div>
      </div>

      <% end %>
    </div>
  </div>
</div>