<!DOCTYPE html>

<html lang="en">
  <head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Golf Crony" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>

    <%= csrf_meta_tags %>
  </head>

  <body>

  <%= render 'layouts/nav_bar' %>
  
<div class="hide-for-small-only medium-7 large-7 columns">
  <%= render 'layouts/orbit_slider' %>
</div>

<div class="small-12 medium-5 large-5 columns">
   <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=40.5598&lon=-111.9665&name=Salt Lake City"> </iframe>


</div>


  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "flash-notice #{name}" %>
  <% end %>


  <div class="container">

    <%= yield %>
  </div>

  
    <script src="/js/foundation.min.js"></script>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/fastclick.js"></script>
    <script> $(document).foundation(); </script>
    <%= javascript_include_tag "application" %>
  </body>
</html>

